/*  .container-1 is a div that holds all the others and so denotes flex */
@media(min-width: 768px){
    .container-1 {
        display: flex;
        /* align-items: flex-end; /* /* (aligns bottoms no matter size) */
        /* align-items: flex-start; */ /* (aligns top no matter size) */
        /* align-items: center;
        /* align-items: stretch; - default */
        /* flex-direction: column; */
        
    }
    .container-2 {
        display: flex;
        /* justify-content: flex-start; -default setting to justify content*/
        /* justify-content: flex-end; -pushes it over */
        /* justify-content: center; -obvious */
        justify-content: space-between; 
         /*   - only space between, not around */ 
        /* justify-content: space-around; - add margins on the side as well as between. */
    }
}


.container-1 div, .container-2 div{
    border: 1px #ccc solid;
    padding: 10px;
}
.box-1 {
    flex:2;
    order:2;
}
.box-2 {
    flex:1;
    order:1;
}
.box-3 {
    flex:1;
    order:3;
}
.container-2-box {
    /* width: 27%; */
    /* rather than width, use flex-basis */
    flex-basis: 27%;
}