/*  .container-1 is a div that holds all the others and so denotes flex */
.container-1 {
    display: flex;
    /* align-items: flex-end; /* /* (aligns bottoms no matter size) */
    /* align-items: flex-start; */ /* (aligns top no matter size) */
}

.container-1 div{
    border: 1px #ccc solid;
    padding: 10px;
}
.box-1 {
    flex:2;
    order:2;
}
.box-2 {
    flex:1;
    order:1;
}
.box-3 {
    flex:1;
    order:3;
}